################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

bin/
obj/
packages/
AppPackages/
publish/
__pycache__/
.vs/
.vscode/
.fake